/*default styling for webpage */
html {
    max-width: 1500px;
    margin: auto;
}

::selection {
    color: #222222;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: white;
    color: white;
    text-shadow:
        -1px -1px 0 #222222,
        1px -1px 0 #222222,
        -1px 1px 0 #222222,
        1px 1px 0 #222222;
    margin: 0;
    font-size: 10px;
}

/* top of page */
header {
    padding-top: 0.1em;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 430px;
    color: white;

}

.logo {
    font-size: 4.8rem;
    ;
    padding-top: 20px;
    font-family: 'Dancing Script', cursive;
}

.quote-text {
    padding-top: 2em;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

.quote {
    text-align: center;
    font-size: 4rem;
}

.menu {
    margin: 0;
    font-size: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.menu li {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: #222222;
}

.menu li:last-child {
    border: none;
    padding-right: .5em;
}

.menu a,
.quote-text a {
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
}

/* body of page */
.list-container {
    margin: auto;
    display: table;
}

.image-list {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;

}

image-container {}

.image-list li {
    float: left;
    max-height: 30em;
    max-width: 40em;
    padding: 1em;
    display: inline-block;
}

.image-list img {
    width: 40em;
    height: 30em;
}

.image-text {
    position: relative;
    top: -200px;
    text-align: center;
    max-width: 400px;
    color: white;
    font-size: 24pt;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .8s;
}

.image-container:hover .image-text {
    visibility: visible;
    opacity: 1;
}

.image-container a {
    text-decoration: none;
}


.content {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #BBCDE5;
    text-shadow: none;
    color: #1C5D99;
}

.wine {
    width: 160px;
}

.city {
    width: 180px;
}

.cathedral {
    width: 180px;
}

/* bottom of page */

footer {
    text-shadow: none;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #BBCDE5;
    color: #1C5D99;
    margin-right: 7.5em;
    margin-left: 7.5em;
}

footer:selection {
    color: #BBCDE5
}

.mission {
    float: right;
}

.mission p:first-of-type {
    text-align: center;
    font-size: 14pt;
}

.mission p {
    font-size: 9pt;
    max-width: 250;
    text-align: justify;

}

.contact p:first-of-type {
    text-align: left;
    font-size: 14pt;
    margin-top: 0;
}

.contact p {
    font-size: 9pt;
    margin-top: -10px;
    max-width: 260px;
}

.copyright {
    font-size: 9pt;
    margin-top: 50px;
}
