/*default styling for webpage */
html {
    max-width: 1500px;
    margin: auto;
    background: #222
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-shadow:
        -1px -1px 0 #222222,
        1px -1px 0 #222222,
        -1px 1px 0 #222222,
        1px 1px 0 #222222;
    margin: 0;
    font-size: 10px;

}

/* top of page */
header {
    padding-top: 0.1em;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 430px;
    color: white;

}

.logo {
    font-size: 4.8rem;
    ;
    padding-top: 20px;
    font-family: 'Dancing Script', cursive;
}

.quote-text {
    padding-top: 2em;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

.quote {
    text-align: center;
    font-size: 4rem;
}

.menu {
    margin: 0;
    font-size: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.menu li {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: #222222;
}

.menu li:last-child {
    border: none;
    padding-right: .5em;
}

.menu a,
.quote-text a {
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
}

/* body of page */
.images {}

.images img {
    width: 100%;
    object-fit: fill;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    height: 27em;

}

.column img {
    margin-top: .5em;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}



.images {
    max-width: 1350px;
    margin: auto;
}

.image-container {
    display: block;
    position: relative;
    display: inline-block;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    color: white;
    font-size: 24pt;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .8s;
}

.image-container:hover .image-text {
    visibility: visible;
    opacity: 1;
}

.image-container a {
    text-decoration: none;
}


.content {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #BBCDE5;
    text-shadow: none;
    color: white;
    max-width: 1350px;
    margin: auto;
}

.content p {
    font-size: 1rem;
    padding: 1em;
}

.content h1 {
    font-size: 1.2rem;
    max-width: 50em;
}

.content img {
    width: 40em;
    height: 30em;
    margin: 10px 5px 10px 0px;
    margin-left: auto;
}

/* bottom of page */

footer {
    text-shadow: none;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #BBCDE5;
    margin-right: 7.5em;
    margin-left: 7.5em;
}


.mission {
    float: right;
}

.mission p:first-of-type {
    text-align: center;
    font-size: 14pt;
}

.mission p {
    font-size: 9pt;
    text-align: justify;

}

.contact p:first-of-type {
    text-align: left;
    font-size: 14pt;
    margin-top: 0;
}

.contact p {
    font-size: 9pt;
    margin-top: -10px;
    max-width: 260px;
}

.copyright {
    font-size: 9pt;
    margin-top: 50px;
}
